body{
  font-family:sans-serif;
  text-align:center;
}

.task{
  margin:20px;
}

input{
  width:200px;
  padding:5px;
}

.circle{
  width:60px;
  height:60px;
  border-radius:50%;
  border:3px dotted black;
  margin:10px auto;
  cursor:pointer;
}

.done{
  background:red;
}
