body{
    font-family:sans-serif;
    text-align:center;
}

#grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    max-width:800px;
    margin:40px auto;
}

.task{
    text-align:center;
}

input{
    width:100%;
    padding:5px;
    margin-bottom:10px;
}

.circle{
    width:60px;
    height:60px;
    border-radius:50%;
    border:4px dotted black;
    margin:auto;
    cursor:pointer;
}

.done{
    background:red;
}

/* スマホ用 */
@media (max-width:600px){

#grid{
    grid-template-columns: repeat(2, 1fr);
}

.circle{
    width:70px;
    height:70px;
}

}
