body{
    font-family:sans-serif;
    text-align:center;
}

#grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:30px;
    width:800px;
    margin:50px auto;
}

.task{
    text-align:center;
}

input{
    width:120px;
    padding:5px;
    margin-bottom:10px;
}

.circle{
    width:80px;
    height:80px;
    border-radius:50%;
    border:4px dotted black;
    margin:auto;
    cursor:pointer;
}

.done{
    background:red;
}
